ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  border-bottom: 1px solid #c39bd3;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 4px;
  text-decoration: none;
}

li a:hover {
  background-color: #222;
}

.active {
  background-color: #c39bd3;
}

.active:hover {
  background-color: #c39bd3;
}