.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  border-bottom: 1px solid #c39bd3;
  width: 100%;
}

.navbarItem {
  float: left;
}

.navbarItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 4px;
  text-decoration: none;
}

.navbarItem a:hover {
  background-color: #222;
}

.serverAddr {
  float: none;
  padding-right: 140px;
  font-family: monospace;
  font-size: 12px;
  font-weight: normal;
}